

:root {
  box-sizing: border-box;
  font-size: calc(.8em + 1vw);
  text-align: center;
  line-height: 1.5;
  background-color: lightblue;
  --input-background: lightgreen;
}

h1{
  text-transform: uppercase;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: .5em 0;
  font-size: 2em;
}

p{
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
}

label{
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
}

input{
  height: 2.3em;
  width: 100%;
  font-size: 1.2em;
  border: none;
  margin: 0;
}
select {
  height: 2.3em;
  width: 100%;
  font-size: 1.2em;
  border: none;
  text-transform: capitalize;
}

*:focus{
  background-color: var(--input-background, lightgreen);
  outline: none;
}
form * {
  display: block;
  margin: .5em auto;
}

input[type="radio"]{
  margin-top: .3em;
  width: 20%;
  display: inline;
}

.container {
  width: 90%;
  margin: auto;
}

.welcome h1 {
  font-size: 3.1em;
}

.welcome p {
 font-size: 2.1em;
 margin-bottom: 1em;
}

.welcome button {
  height: 2.3em;
  border: none;
  font-size: 1.5em;
  text-transform: capitalize;
  padding: .5em;
  transition: background-color .6s ease-out;
}

.welcome button:hover {
  background-color: var(--input-background, lightgreen);
  transition: background-color .6s ease-out;
}

